<div class="navbar navbar-light navbar-midia">
  <div class="container">
    <%# if user_signed_in? %>
      <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <%# else %>
      <%= image_tag "midia-de-rua-logo.png", class: 'img-navbar-logo' %>
      <div class='list-links justify-content-start'>
        <%= link_to "Home", "#", class: 'nav-links' %>
        <%= link_to "Mídias", "#", class: 'nav-links'  %>
        <%= link_to "Atuação", "#", class: 'nav-links'  %>
        <%= link_to "Quem somos", "#", class: 'nav-links'  %>
        <%= link_to "Fale Conosco", "#", class: 'nav-links'  %>
      </div>
      <div class='sign-btn'>
        <%= link_to "Cadastre-se", "#", class: "nav-signup" %>
        <%= link_to "Login", "#", class: "nav-signin" %>
      </div>
        <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
    <%# end %>
  </div>
</div>
